<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/index.css') }}"
        />
    </head>
    <body>
        <div id="div-main">
            <h1>Devpost Scraper</h1>

            <div id="div-form">
                <div class="form-bg">
                    <form method="post" action="{{ url_for('add') }}">
                        <div id="warning">
                            Maximum session cookie: 4093 bytes <br />If data not
                            returned, maximum session storage was exceeded

                            <br />
                            <br />
                            Use http rather than https (eg.
                            http://hackathon.devpost.com/)
                        </div>
                        <div class="input-flex">
                            <input
                                type="text"
                                name="URL"
                                placeholder="Submission URL"
                                value="{{ request.form['URL'] }}"
                                class="string-input"
                            />
                            <button
                                type="submit"
                                name="ADD"
                                class="submit-button"
                            >
                                Add
                            </button>
                        </div>
                        <div class="input-flex">
                            <input
                                type="number"
                                class="input-subm numeric-input"
                                placeholder="# Submissions"
                                name="n_subm"
                            />
                            <input
                                type="number"
                                class="input-page numeric-input"
                                placeholder="# Pages per URL"
                                name="n_page"
                            />
                            <label
                                for="DontCheckWinner"
                                id="DontCheckWinner-label"
                                >Only Winners</label
                            >
                            <input
                                type="checkbox"
                                id="DontCheckWinner"
                                name="DontCheckWinner"
                            />

                            <button
                                type="submit"
                                name="GETDATA"
                                class="submit-button"
                            >
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="div-stored">
                <div class="stored-bg">
                    <!-- <div style="color: white">Stored</div> -->
                    <ul>
                        {% for item in URL_lst %}
                        <li class="stored-li">
                            <p>{{ item }}</p>
                            <form
                                method="post"
                                action="{{ url_for('delete') }}"
                                class="stored-form"
                            >
                                <input
                                    type="hidden"
                                    name="INDEX"
                                    value="{{ loop.index0 }}"
                                />
                                <button type="submit" name="DELETE">
                                    Delete
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="div-output">
                {% if URL_data %}
                <ul>
                    {% for url, values in URL_data.items() %} {% for submission
                    in values %}
                    <li class="output-li">
                        <!-- <p>URL: {{ url }}</p> -->
                        <div class="title-wrap">
                            <p>{{ submission[0] }}</p>
                        </div>
                        <div class="subtitle-wrap">
                            <p>{{ submission[1] }}</p>
                        </div>
                        <div class="description-wrap">
                            <p>{{ submission[2] }}</p>
                        </div>
                        <!-- Add more fields as needed -->
                        <!-- For images and builtWith, you can use nested loops -->
                        <!-- <p>Images:</p>
                    <ul>
                        {% for image in values[0][3] %}
                        <li><img src="{{ image }}" alt="Image" /></li>
                        {% endfor %}
                    </ul> -->
                        <div class="tag-wrap">
                            {% for tool in submission[3] %}
                            <div class="tag-div">
                                <p>{{ tool }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %} {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </body>
</html>
