@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@font-face {
    font-family: "GE";
    src: url("../fonts/Geliat-ExtraLight.otf");
}

* {
    margin: 0;
    padding: 0;

    font-family: "GE";
    /* font-family: 'Space Grotesk', sans-serif; */
}

body {
    background: #0575e6; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #021b79,
        #0575e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #021b79,
        #0575e6
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    color: white;
    font-size: 100px;
}

input {
    border-style: solid;
    border: none;
    border-width: 0px;
    border-radius: 10px;

    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 10px;

    color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;

    background-color: rgb(0, 106, 226);
}

#warning {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.8em;

    margin-bottom: 10px;
    margin-left: 10px;
}

.string-input {
    width: 300px;
}

.numeric-input {
    width: 142px;
}

label {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: white;
}

.form-bg {
    margin-top: 50px;
    padding: 15px;

    /* background-color: rgb(0, 132, 255); */

    /* border-radius: 25px; */

    background: rgba(0, 132, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.stored-bg {
    /* margin-top: 50px; */
    padding: 15px;

    /* background-color: rgb(162, 0, 255); */

    /* border-radius: 25px; */

    background: rgba(162, 0, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#div-stored {
    margin-bottom: 40px;
    display: flex;
}

button {
    color: white;
    font-family: "Space Grotesk", sans-serif;

    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: white;

    padding: 10px;

    padding-left: 15px;
    padding-right: 15px;

    font-size: 0.8em;
    color: white;
    font-family: "Space Grotesk", sans-serif;

    cursor: pointer;
}

#DontCheckWinner {
    width: 30px;
    margin-right: 10px;
}

#DontCheckWinner-label {
    margin-top: 14px;

    font-family: "Space Grotesk", sans-serif;
    font-size: 13px;
}

#div-main {
    padding: 80px;
}

#div-form {
    margin-bottom: 40px;
    display: flex;
}

.input-flex {
    display: flex;
}

.submit-button {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: white;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(48, 131, 255);
}

.stored-li {
    display: flex;
    justify-content: space-between;

    margin: 10px;
}

.stored-li p {
    color: white;

    font-size: 0.8em;
    font-family: "Space Grotesk", sans-serif;

    margin-top: 10px;
    margin-right: 10px;
}

.stored-li button {
    background-color: rgb(179, 57, 250);
}

.output-li {
    margin-bottom: 40px;
    border-radius: 25px;
    padding: 25px;

    list-style-type: none;

    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.output-li div p {
    font-size: 0.8em;

    font-family: "Space Grotesk", sans-serif;
}

.title-wrap {
    margin-bottom: 10px;
    font-size: 2em;
}

.subtitle-wrap {
    margin-bottom: 10px;
}

.description-wrap {
    margin-bottom: 15px;
}

.tag-wrap {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.tag-div p {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    padding: 5px;

    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.6); */

    background-color: rgba(255, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.8em;
}
